In [2]:
#타입 확인
type((1, 0 , 0))

(1, 0, 0)

In [3]:
# 숫자에 콤마를 찍으면 튜플이 됨
1,000,000

(1, 0, 0)

In [9]:
# 변수 규칙
# 특수문자 사용x , 언더바 ( _ )는 됨

_ = 2
_


#앞에 숫자가 오는 것은 안됨
2things = 4
2things

a1b2_c3 =1
a1b2_c3

SyntaxError: invalid decimal literal (3038742468.py, line 9)

In [ ]:
#문자열에서 (+, *)만 가능 -, / 는 안됨
'good' + 'bye' # 'goodbye'

('a' + 'b') * 3 # 'ababab'

'ha' * 3 # 'hahaha'

("cha~" * 2) + "cha" # 'cha~cha~cha'

In [18]:
#String Functions and Method

len('stinrg') # 문자수 반환
# 6

int('23') # int형으로 변환
# 23

float('23') # float형으로 변환
# 23.0

x = 5
eval('23 + (2 * x)') # 수식의 실행 결과를 반환, 수식을 잘 모를 때 주로 사용함
# 33

exec('x = 2') # eval과 다르게 문장을 실행 결과는 출력안함
# eval은 식(expreesion)만 사용 가능
x
# 2

exec('y = 3')
eval('x + y')
# 5
exec('x + y')

z1 = eval('x + y')
z1
# 5

z2 = exec('x + y')
z2
# 아무것도 저장 안됨

exec('z2 = x + y')
z2
# 5

5

In [19]:
#String Method
str1 = "Python"
str1.upper() # 대문자로 값 반환

str1.lower() # 소문자로 값 반환

str1.count('th') # 'th'가 몇번 나옴?
# 1

'coDE'.capitalize() # 첫 문자만 대문자로 해서 반환
# Code

"beN hur".title() # 공백단위로 끊어서 첫 문자만 대문자로
# Ben Hur

'ab    '.rstrip() # 오른쪽 공백 제거
# lstrip() 은 왼쪽 공백 제거
# strip() 은 양쪽 공백 제거

'PYTHON'

In [20]:
str1 = 'Hello World!'
str1.find('W') # 'W'의 문자 위치 반환

6

In [30]:
name = 'JS'
print('My name is ', name, 'hahaha')
print('My name is {0:^8} {1:}'.format("JS", 'haha') ) # {포맷순서:^칸수} 칸의 중앙에 출력됨.
print('My name is {0:<8} {1:>10}'.format("JS", 'haha') ) # JS를 왼쪽에 붙여서 출력 # haha를 오른쪽에 붙여서 출력

My name is  JS hahaha
My name is    JS    haha
My name is JS             haha

In [34]:
prompt = "What is the ~~~~"
speed = int(input(prompt)) 
print(speed)

# 이거 대신 int나 float 둘다 입력받을 수 있게 하려면?
speed = eval(input(prompt))
print(speed)

What is the ~~~~5
5
What is the ~~~~5
5

In [36]:
name = 'JS Park'
n = name.rfind(' ')
name[:n]

name[n+1:]

'Park'

In [40]:
15 /3
# 5.0

13 // 3
# 4

3.5 // 2
# 1.0

2 << 2 # 왼쪽 쉬프트 연산 2^1 * 2^2
# 8

8

In [41]:
5 > 3 < 7 # 5 > 3 and 3 < 7
#True

True

In [42]:
number = 23
guess = int(input('Enter an integer: '))

if guess == number:
    print('Congratulations, you guessed it')
elif guess < number:
    print('higher')
else:
    print('lower')
    
print('done')

Enter an integer: 2
higher
done

In [2]:
number = 23
running = True

while running:
    guess = int(input('Enter an integer: '))
    if guess == number:
        print('Congratulations, you guessed it')
        running = False
        break
    elif guess < number:
        print('higher')
    else:
        print('lower')
else:
    print('The while loop is over')

print('Done')

Congratulations, you guessed it
The while loop is over
Done

In [5]:
count = 0
total = 0
numList = []
while True:
    a = int(input('숫자를 입력하셈(종료할꺼면 -1 누르셈):'))    
    if a == -1:
        print('종료')
        break

    total += a
    count += 1
    numList.append(a)
    if count > 0:
        if count >= 5:
            print('count가 {}개 임'.format(count))
        print('Minimum: ', min(numList))
        print('Maximum: ', max(numList))
        print('Average: ', total / count)
    else:
        print('No nonnegative integers were entered.')

Minimum:  5
Maximum:  5
Average:  5.0
Minimum:  4
Maximum:  5
Average:  4.5
Minimum:  3
Maximum:  5
Average:  4.0
Minimum:  3
Maximum:  5
Average:  3.75
Minimum:  3
Maximum:  10
Average:  5.0
Minimum:  3
Maximum:  10
Average:  5.833333333333333
종료

In [13]:
numberOfRows = int(input('Enter a number'))

for i in range(numberOfRows):
    for j in range(i+1):
        print('*', end='')
    for j in range(numberOfRows-i-1, 0, -1):
        print('+', end='')
    print()

*++++
**+++
***++
****+
*****

In [24]:
word = input('Enter a word:')

print(word[:-2] + word[-1] + word[-2])

# print(word[::-1])

# print(''.join(list(reversed(word))))

abced

In [19]:
infile = open('textfile.txt', 'r')

for i in infile:
    # print(i, end='')
    print(i.rstrip())
infile.close()

123
456
abc

In [25]:
# Enter a sentence: What you don't know won't hurt you.
# Enter word to replace: know
# Enter replacement word: owe
# What you don't owe won't hurt you.

a = input("Enter a sentence:")
repla = input("Enter word to replace:")
change = input("Enter replacement word:")
a = a.replace(repla, change)
print(a)

What you don't owe won't hurt you.

In [35]:
# Enter future value: 10000
# Enter interest rate (as %): 4
# Enter number of years: 6
# Present value: $7,903.15

v = eval(input('Enter future value:'))
rate = eval(input('Enter interest rate (as %):'))
year = eval(input('Enter number of years:'))
result = v/((1 + (rate / 100))**year) 
print(f'Present value: ${result:,.2f}')

Present value: $7,903.15

In [39]:
num1 = [1]
num2 = [1]
num1.append([10, 20])
num2.extend([10, 20])

print(num1)
print(num2)

[1, [10, 20]]
[1, 10, 20]

In [41]:
def tmp():
    return 1,2,3

r1 = tmp()
v1,v2,v3 = tmp()
print(r1)
print(v1,v2,v3)

(1, 2, 3)
1 2 3

In [45]:
regions = [('aa', 1), ('bb', 2), ('cc',3), ('bb',4)]
print(regions[0])
print(regions[0][1])
print(regions[2][0])

def sum_array(array):
    v1=0
    v2=0
    for e in array:
        v1 += int(e[0])
        v2 += e[1]
    return (str(v1), v2)

array =[('1', 2), ('3',4), ('5',6)]
print(sum_array(array))

('aa', 1)
1
cc
('9', 12)

In [48]:
shopList = ['apple', 'mango', 'game', 'car']
myList = shopList
copiedList = shopList[:]

del myList[0]

print(shopList)
print(myList)
print(copiedList)

# 주소 출력
print(id(shopList)) 
print(id(myList))
print(id(copiedList))

['mango', 'game', 'car']
['mango', 'game', 'car']
['apple', 'mango', 'game', 'car']
2313253399232
2313253399232
2313253141568

In [22]:
# p120 Exercises 3.3 Bouncing Ball

restitution = float(input('Enter coefficient of restitution: '))
height = float(input('Enter initial height in meters: '))
bounces = 1
totalmeter = height

while height * restitution > 0.1:
    meter = height * restitution *2.0
    totalmeter += meter
    bounces += 1
    height *= restitution
    
    

print('Number of bounces: ', bounces)
print('Meters traveled: {:.2f}'.format(totalmeter))

#Number of bounces: 13
#Meters traveled: 44.82

Number of bounces:  13
Meters traveled: 44.82

In [28]:
# Exercises 3.4
import time
total = 0

t0 = time.time()
for i in range(1, 1000001):

    while i > 0:
        num = i % 10
        total += num
        i //= 10

t1 = time.time()

print('The sum of the digits in the numbers')
print('from 1 to one million is {:,}.'.format(total))

print('time : ', t1-t0)

The sum of the digits in the numbers
from 1 to one million is 27,000,001.
time :  0.8110573291778564

In [29]:
list1 = ['white', 'blue', 'red']
list2 = sorted(list1)
print(list2)
print(sorted(list1, reverse=True))
print(sorted(list1, key=len))
print(list1)
print(sorted('spam'))

['blue', 'red', 'white']
['white', 'red', 'blue']
['red', 'blue', 'white']
['white', 'blue', 'red']
['a', 'm', 'p', 's']

In [31]:
list1 = ['2', '5', '6', '7']
[int(x) for x in list1]
def g(x):
    return (int(x) **2)

print([g(x) for x in list1])
print([g(x) for x in list1 if int(x) % 2 == 1])

[4, 25, 36, 49]
[25, 49]

In [2]:
#Lambda Expression
names = ["Dennis Ritchie", "Alan Kay", "John Backus", "James Gosling"]
names.sort(key=lambda name: name.split() [-1])
nameString = ", ".join(names)
print(nameString)

John Backus, James Gosling, Alan Kay, Dennis Ritchie

In [7]:
#Count Function

def countFunction(st, findst):
    s = 0
    ls = len(findst)
    cnt = 0
    for i in range(len(st)):
        if st[s:ls] == findst:
            cnt += 1
        s += 1
        ls += 1
    return cnt

st = input('Enter a string: ')
findst = input('Enter a substring: ')
countFunction(st, findst)

2

In [15]:
#Pay Raise

def payraise(salary):
    if salary < 40000:
        salary = salary * 1.05
    else:
        salary = salary + (salary - 40000) * 0.02 + 2000
    return salary

firstname = input('Enter first name: ')
lastname = input('Enter last name: ')
salary = int(input('Enter current salary: '))
salary = payraise(salary)
print("New salary for {} {}: ${:,}".format(firstname, lastname, salary))

New salary for John Doe: $50,160.0

In [16]:
# File Access

def displayWithLoop(file):
    infile = open(file, 'r')
    for line in infile:
        print(line.rstrip())
    infile.close()

displayWithLoop('./AIP_05_Data Processing and File Access_data/FirstPresidents.txt')

George Washington
John Adams
Thomas Jefferson

In [18]:
def main():
    L = ["George Washington", "John Adams", "Thomas Jefferson"]
    outfile = open("FirstPresidents2.txt" 'w')
    createWithWrite(L, outfile)
    outfile = open("FirstPresidents3.txt", 'w')
    createWithWritelines(L, outfile)

def createWithWrite(L, outfile):
    for i in range(len(L)):
        outfile.write(L[i] + "\n")
    outfile.close()

def createWithWritelines(L, outfile):
    for i in range(len(L)):
        L[i] = L[i]+ "\n"
    outfile.writelines(L)
    outfile.close()

main()

FileNotFoundError: [Errno 2] No such file or directory: 'FirstPresidents2.txtw'

In [29]:
# Set
bri = {'brazil', 'russia', 'india'}
'india' in bri
'USA' in bri
bric = bri.copy()
bric.add('china')
print(type(bric))
bri.remove('russia')
print(bri)
print(bric)
print(bric.issuperset(bri)) # 교집합
print(bri & bric)
print(bric.difference(bri)) # 서로 다른 것 (차집합)
print(bric.union(bri))

<class 'set'>
{'brazil', 'india'}
{'china', 'brazil', 'india', 'russia'}
True
{'brazil', 'india'}
{'china', 'russia'}
{'brazil', 'russia', 'india', 'china'}

In [34]:
d = {
    'Park': 12345,
    'Kim': 234234,
    'Lee': 2392349
}

for key, value in d.items(): # d.items() 는 튜플로 나옴
    print('{}: {}'.format(key, value))

for v in d: # 딕셔너리에 그냥 for문 돌리면 key만 나옴
    print(v)

# enumerate : 열거하다
for v in enumerate(d.items()): # 튜플로 나옴 
    print(v)

Park: 12345
Kim: 234234
Lee: 2392349
Park
Kim
Lee
(0, ('Park', 12345))
(1, ('Kim', 234234))
(2, ('Lee', 2392349))

In [ ]:
def main():
    print('Enter the group')
    group = input('(child, minor, adult, or senior): ')

    print('Admission fee is : ', determineAdmissionFee(group))

def determineAdmissionFee(group):
    d = {
    'child': 0,
    'minor': 5,
    'adult': 10,
    'senior': 8,
    'alien': 100
    }
    return d[group]

main()